body {
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 90px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
  font-size: 18px;
  line-height: 1.33;
  text-underline-offset: 4px;
  background-color: #fff;
}

.header__menu {
  position: relative;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.logo-black {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 756px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text {
  position: relative;
  z-index: 2;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  display: flex;
  justify-content: flex-start;
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 30px;
}

.aligned-text_right {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;
}

.cover__description {
  display: flex;
}

.cover__description-text {
  z-index: 2;
  display: flex;
  justify-content: end;
  padding-top: 120px;
  padding-left: 50px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  z-index: 2;
  display: flex;
  width: 256px;
  height: 51px;
  margin-top: 105px;
  margin-left: 105px;
  border: 1px solid #fff;
  padding-top: 10px;
  padding-left: 30px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  position: relative;
  width: 1052px;
  margin-top: 180px;
  margin-left: 24px;
  background-color: white;
}

.lots__heading {
  position: relative;
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding-top: 24px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  color: white;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card_text {
  z-index: 2;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
}

.lots__look-more-link {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  color: black;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-underline-offset: 4px;
}

.about {
  width: 1052px;
  margin-top: 120px;
  margin-left: 24px;
  background-color: white;
}

.about__column {
  display: grid;
  grid-template-columns: 359px 1fr;
}

.about__logo {
  display: flex;
  grid-column: 1;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  grid-column: 2;
  justify-content: start;
  align-items: center;
  margin-top: 45px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2;
  margin-top: 11px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1100px;
  min-height: 180px;
  margin-top: 172px;
  padding: 0px 51px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 3px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  width: 240px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
