body {
  background-color: black;
}
header {
  background-color: #fff;
  text-underline-offset: 4px;
font-size: 18px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 92px;
  padding-bottom: 96px;
  line-height: 24px;
  
}
.header_left {
  display: flex;
  gap: 13px;
  

  
}
.logo-black {
  width: 148px;
  height: 105px;
  
  
}
.adress {
display: flex;
flex-direction: column;
justify-self: end;
max-width: 240px;
align-items: flex-start;
}
.cover{
  height: 757px;
  width: 1100px;
  overflow: hidden;
}
.img-cover{
 min-height:757px;
 object-fit: cover;
  
  
}