body {
  background-color:white ;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 90px;
  padding-right: 51px;
  padding-bottom: 96px;
  padding-left: 50px;
  background-color: #fff;
}

.header__menu {
  position: relative;
 }

.header__links-list {
  display: flex;
  gap: 30px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
.no-underline{
  text-decoration: none;
}

.logo-black {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  text-underline-offset: 4px;  
}

.header__address {
  justify-self:end;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text {
  position: relative;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 114.9%;
  z-index: 2;
 
  
}

.aligned-text_left {
  display: flex;
   justify-content: flex-start;
   padding-top: 165px;
  padding-left: 50px;
   }

.aligned-text_center {
  display: flex;
  justify-content: center;
  padding-left: 30px; 
  padding-top: 20px;
  
  }

.aligned-text_right {
  display: flex;
  justify-content: flex-end; 
  padding-right: 20px;
  padding-top: 20px;
    
     
  
}

.cover__description {
 display: flex;
 


}

.cover__description-text {
  display: flex;
  justify-content: end;
  padding-top: 120px;
  padding-left: 50px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  z-index: 2;
}

.bet-button {
  display: flex;
  width: 256px;
  height: 51px;
  margin-left: 105px;
  margin-top: 100px;
  padding-left: 30px;
  padding-top: 10px;
  border: 1px solid #fff;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 2;
}

.lots {
  position: relative;
  width: 1052px;
  margin-top: 180px;
  margin-left: 24px;
  background-color: white;
}

.lots__heading {
  position: relative;
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}
  
.lots__card-list {
  padding-top: 26px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  gap: 25px;
  }
.card-link {
text-decoration: none;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__card-list-item {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding: 48px 40px;
  position: relative;
  z-index:0;
  width: 334px;
  height: 596px; 
  background-position: center;
  background-size:cover; 
}

.text-1 {
  z-index: 2;
  color: white;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card_text {
 z-index: 2;
 color: #fff;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0;
}

.lots__look-more-link {
  display: flex;
  padding-top:30px;
  padding-left: 40px;
  color: black;
  font-size: 20px;
  line-height:100%;
  letter-spacing: 0;
  text-underline-offset: 4px;
}

.about {
  margin-top: 120px;
  margin-left:24px;
  background-color:white;
}

.about__column {
  display: grid;
  grid-template-columns:359px 1fr;
}

.about__logo { 
  display: flex;
  grid-column: 1;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  grid-column: 2;
  justify-content:start;
  align-items: center;
  margin-top: 45px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase; 
}

.about__text {
  grid-column: 2;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:1100px ;
  margin-top: 197px;
  padding:0px 50px;
  line-height: 1.4;
  text-underline-offset: 3px;
  

}

.footer__address {
  justify-self:start;
  
  }

 .footer__menu {
  display: flex;
  flex-direction: column;
  justify-self:center;
 }

 .footer__menu-list {
  font-size: 18px;
  text-align: center;
  list-style: none;
 }

 .footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self:end;
  gap:48px;
  width: 240px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
